@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Quicksand&display=swap");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

main {
  width: 100vh;
  height: 100vh;
}

.todo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  padding: 18px;
}

.todo-input-area .input-form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-input-area .input-form-box .todo-input-text {
  width: 100%;
  height: 30px;
  border: 1px solid red;
}
.todo-input-area .input-form-box .todo-input-button {
  display: flex;
}
.todo-input-area .input-form-box .todo-input-button .plus-ico {
  width: 50px;
  height: 30px;
  background-color: red;
}

.todo-list-area {
  margin-top: 10px;
}
.todo-list-area .todo-list .todo-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.todo-list-area .todo-list .todo-item .todo-content-box {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.todo-list-area .todo-list .todo-item .todo-content-box .todo-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.todo-list-area .todo-list .todo-item .todo-button-box {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.todo-list-area .todo-list .todo-item .todo-button-box button {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */